[Unit]
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/
Requires=docker.service
After=docker.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=docker pull grafana/promtail
ExecStartPre=-docker stop promtail
ExecStartPre=-docker rm promtail
ExecStart=docker run --name promtail \
    --hostname "%H" \
    -v /root/promtail.yaml:/config.yaml:ro \
    -v /var/log:/var/log \
    -v /root/var/logs:/var/logs:ro \
    -v /var/lib/docker/containers:/var/lib/docker/containers:ro \
    grafana/promtail -config.file=/config.yaml -config.expand-env=true
