{
	email custom-domains@ente.com
	on_demand_tls {
		ask https://api.ente.com/custom-domain
	}
}

https:// {
	tls {
		on_demand
	}
	reverse_proxy https://custom-albums.ente.com {
		header_up Host {upstream_hostport}
	}
}
