# CODEOWNERS file for the repository
# This file defines who owns the code and will be automatically requested for review on pull requests
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Server code
/server/ @up-andrey

# Mobile code
/mobile/ @up-nadav
