[submodule "thirdparty/photoswipe"]
	path = thirdparty/photoswipe
	url = https://github.com/ente-io/PhotoSwipe.git
	branch = master 
[submodule "thirdparty/tesseract"]
	path = thirdparty/tesseract
	url = git@github.com:abhinavkgrd/tesseract.js.git
	branch = worker-support 
[submodule "ffmpeg-wasm"]
	path = thirdparty/ffmpeg-wasm
	url = https://github.com/abhinavkgrd/ffmpeg.wasm.git
	branch = single-thread
