<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.ente.auth">
    <application android:name="${applicationName}"
                 android:label="Ente Auth"
                 android:icon="@mipmap/launcher_icon"
                 android:usesCleartextTraffic="true"
                 android:requestLegacyExternalStorage="true"
                 android:allowBackup="false"
                 android:fullBackupContent="false"
                 android:largeHeap="true">

        <activity android:name=".MainActivity" android:launchMode="singleTop"
                  android:theme="@style/LaunchTheme"
                  android:exported="true"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                  android:hardwareAccelerated="true"
                  android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ente-auth"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="otpauth" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="enteauth" />
            </intent-filter>

        </activity>

        <activity-alias
            android:name="${applicationId}.IconDefault"
            android:icon="@mipmap/icon_default"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.IconLight"
            android:icon="@mipmap/icon_light"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.IconDark"
            android:icon="@mipmap/icon_dark"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.IconOG"
            android:icon="@mipmap/icon_og"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <service
            android:name=".QuickTileService"
            android:icon="@drawable/ic_qs_monochrome"
            android:label="Ente Auth"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true"
            tools:targetApi="24">

            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>
        <meta-data android:name="flutter_deeplinking_enabled" android:value="false" />

        <meta-data android:name="io.sentry.dsn"
                   android:value="https://ed4ddd6309b847ba8849935e26e9b648@sentry.ente.io/9"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="29"
            tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

</manifest>
