/build/
**/.gradle/
lib/l10n/untranslated_messages.json

lib/generated_plugin_registrant.dart
.env

fastlane/report.xml

.fvm/

lib/generated/intl/app_localizations*.dart

# Generated Flutter Rust Bridge Dart bindings
lib/src/rust/*
test/**/*.mocks.dart
