/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/fonts/inter-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('/fonts/inter-v11-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v11-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
html, body {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column; 
}



#__next {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.download-btn{
    background: url('/download_icon.png') no-repeat;
    background-size: 20px 20px;
    background-position: center;
}
.info-btn{
    background: url('/info_icon.png') no-repeat;
    background-size: 20px 20px;
    background-position: center;
}


.pswp__item video {
    width: 100%;
    height: 100%;
}

.pswp-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.pswp-item-container > * {
    position: absolute;
    transition: opacity 1s ease;
    max-width: 100%;
    max-height: 100%;
}

.pswp-item-container > img{
    opacity: 1;
}

.pswp-item-container > video{
    opacity: 0;
}


.pswp-item-container > div.download-banner {      
    width:100%;
    height: 16vh;
    padding:2vh 0;
    background-color: #151414;
    color:#ddd;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    opacity: 0.8;
    font-size:20px;
}

.download-banner > a{
    width: 130px;
}

.pswp__img {
    object-fit: contain;
}
.pswp__caption{
    font-size:20px;
    height:10%;
    padding-left:5%;
    color:#eee;
}

.modal {
    z-index: 2000;
}
.modal-dialog-centered {
    min-height: -webkit-calc(80% - 3.5rem);
    min-height: -moz-calc(80% - 3.5rem);
    min-height: calc(80% - 3.5rem);
}
.modal .modal-header, .modal .modal-footer , .toast-header{
    border-color: #444 !important;
}
.modal .modal-header .close, .toast-header .close {
    color: #aaa;
    text-shadow: none;
}
.modal-backdrop {
    z-index:2000;
    opacity:0.8 !important;
}

.toast-header{
    border-radius:0px !important;
}
.modal .card , .table , .toast {
    background-color: #202020;
    border: none;
}
.modal .card > div {
    border-radius: 30px;
    overflow: hidden;
    margin: 0 0 5px 0;
}
.modal-content ,.toast-header{
    border-radius:15px;
    background-color:#202020 !important;
}
.modal-dialog{
    margin:5vh auto;
    width:90%;
}
.modal-body{
    max-height:74vh;
    overflow-y:auto;
}
.modal-xl{
    max-width:90% !important;
}
.modal-lg {
    max-width: 720px !important;
}
.plan-selector-modal-content {
    width:auto;
    margin:auto;
}
.pswp-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    transition: opacity .2s;
    padding-top: 4px;
    float: right;
    cursor: pointer;
    border: none;
    height: 44px;
    width: 44px;
}
.pswp-custom:hover {
    opacity: 1;
}

.pswp__button--arrow--left::before, .pswp__button--arrow--right::before {
    background-color: #333333;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    top:0;
}

.pswp__button--arrow--left::before {   
    background-position: -128px -32px;
}

.pswp__button--arrow--left{
    margin-left: 20px;
}

.pswp__button--arrow--right{
    margin-right: 20px;
}
.pswp__button--arrow--right::before {   
    background-position: -83px -30px;
}
.btn.focus , .btn:focus{
    box-shadow: none;
}
.btn-success {
    background: #51cd7c;
    color: #fff;
    border-color: #51cd7c;
}
.btn-success:hover .btn-success:focus .btn-success:active {
    background-color: #29a354;
    border-color: #51cd7c;
    color: #242424;
}
.btn-success:disabled {
    background-color: #69b383;
}
.btn-outline-success {
    background: #51cd7c;
    color: #fff;
    border-color: #51cd7c;
}
.btn-outline-success:hover:enabled {
    background: #4db76c;
    color: #fff;
}
.btn-outline-danger, .btn-outline-secondary, .btn-outline-primary{
    border-width: 2px;
}

#go-to-ente{
    background:none;
    border-color: #3dbb69;
    color:#51cd7c;
}
#go-to-ente:hover, #go-to-ente:focus, #go-to-ente:active {
    color:#fff;
    background-color: #44774d;
}


.btn-link {
    color: #fff;
}
.btn-link:hover {
    color: #51cd7c;
}
.btn-link-danger {
    color: #dc3545;
}
.btn-link-danger:hover {
    color: #ff495a;
}
.card {
    background-color: #242424;
    color: #d1d1d1;
    border-radius: 12px;
}
.jumbotron{
    background-color: #191919;
    color: #d1d1d1;
    text-align: center;
    margin-top: 50px;
}
.alert-primary {
    background-color: rgb(235, 255, 243);
    color: #000000;
}
.alert-success {
    background-color: #c4ffd6;
}
.bm-burger-button {
    position: fixed;
    width: 24px;
    height: 16px;
    top:27px;
    left: 32px;
    z-index:100 !important;
}
.bm-burger-bars {
    background: #bdbdbd;
}
.bm-menu-wrap {
    top:0px;
}
.bm-menu {
    background: #131313;
    font-size: 1.15em;
    color:#d1d1d1;
    display: flex;
}
.bm-cross {
    background: #d1d1d1;
}
.bm-cross-button {
    top: 20px !important;
}
.bm-item-list {
    display: flex !important;
    flex-direction: column;
    max-height: 100%;
    flex: 1;
}
.bm-item {
    padding: 20px;
}
.bm-overlay {
    top: 0;
    background: rgba(0, 0, 0, 0.8) !important;
}
.bg-upload-progress-bar {
    background-color: #51cd7c;
}
.custom-switch.custom-switch-md{
    z-index:0;
}
.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    background-color: #303030;
    border: none;
    width: calc(2.5rem + 0.75rem);
    border-radius: 3rem;
}
.custom-switch.custom-switch-md:active .custom-control-label::before {
    background-color: #303030;
}

.custom-switch.custom-switch-md .custom-control-label::after {
    top:2px;
    background:#c4c4c4;
    width: calc(2.0rem - 4px);
    height: calc(2.0rem - 4px);
    border-radius: calc(2rem - (2.0rem / 2));
    left: -38px;
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2.0rem - 0.25rem));
    background:#c4c4c4;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #29a354;
}

.bold-text{
    color: #ECECEC;
    line-height: 24px;
    font-size: 24px;
}
.dropdown-item:active{
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef;
}

.list-group-item:hover{
    background-color:#343434 !important;
}
.list-group-item:active , list-group-item:focus{
    background-color:#000 !important;
}
#button-tooltip > .arrow::before{
    border-bottom-color:#282828 !important;
}
#button-tooltip > .arrow::after{
    border-bottom-color:#282828 !important;
    border-top-color:#282828 !important;

}
.arrow::before{
    border-bottom-color:#282828 !important;
    border-top-color:#282828 !important;
}
.arrow::after{
    border-bottom-color:#282828 !important;
    border-top-color:#282828 !important;
}
.carousel-inner {
    padding-bottom: 50px !important;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 12px;
}
.carousel-indicators .active {
    background-color: #51cd7c;
}
div.otp-input input {
    width: 36px !important;
    height: 36px;
    margin: 0 10px;
}

div.otp-input input::placeholder {
    opacity:0;
}

div.otp-input input:not(:placeholder-shown) , div.otp-input input:focus{
    border: 2px solid #51cd7c;
    border-radius:1px; 
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.flash-message{
    padding:16px;
    display:flex;
    align-items:center;
}
@-webkit-keyframes rotation 
{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
#button-tooltip{
    color: #ddd;
    border-radius: 5px;
    font-size: 12px;
    padding:0px
}
.tooltip-inner{
    background-color: #282828;
}
.react-datepicker__input-container > input {
    width:100%;
}
.react-datepicker__navigation{
    top:14px;
}
.react-datepicker, .react-datepicker__header,.react-datepicker__time-container .react-datepicker__time,.react-datepicker-time__header{
    background-color: #202020;
    color:#fff;
    border-color: #444;
}
.react-datepicker__current-month,.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    color:#fff;
}
.react-datepicker__day--disabled{
    color:#5b5656;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover{
    background-color:#686868
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled :hover{
    background-color: #202020;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled{
    color:#5b5656;
}
.react-datepicker{
    padding-bottom:10px;
}
.react-datepicker__day:hover {
    background-color:#686868
}
.react-datepicker__day--disabled:hover {
    background-color: #202020;
}

.form-check-input:hover, .form-check-label :hover{
    cursor:pointer;
}

@media (min-width: 450px) {
    .file-type-choice-modal{
        width: 25em;
    }
}

