<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="io.ente.photos">

    <!-- Strips MainActivity's launcher entry; see independent/AndroidManifest.xml. -->
    <application>
        <meta-data android:name="io.sentry.dsn" tools:node="remove"/>
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"
            tools:replace="android:value"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" tools:node="remove"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="com.android.vending.BILLING"  tools:node="remove"/>
</manifest>
