gradle-wrapper.jar
/.gradle
/build/
/captures/
/gradlew
/gradlew.bat
/local.properties
app/src/main/java/io/ente/ensu/crypto/core.kt
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
