<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817308839677-s1530ofa947p7u59gkhf46fg88eqsapl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817308839677-s1530ofa947p7u59gkhf46fg88eqsapl</string>
	<key>API_KEY</key>
	<string>AIzaSyAt971J1ox81gjs0I4DmnaHeiOlaxR1ytA</string>
	<key>GCM_SENDER_ID</key>
	<string>817308839677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ente.frame</string>
	<key>PROJECT_ID</key>
	<string>ente-photos-d38a3</string>
	<key>STORAGE_BUCKET</key>
	<string>ente-photos-d38a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<false></false>
	<key>GOOGLE_APP_ID</key>
	<string>1:817308839677:ios:59c62441723617b2185894</string>
	<key>DATABASE_URL</key>
	<string>https://ente-photos-d38a3.firebaseio.com</string>
</dict>
</plist>