.fetch-button-container {
    margin-right: 180px;
    margin-left: 10px;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    margin-left: 175px;
}

.fetch-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.fetch-button-container button:hover {
    background-color: #007c6c;
}

.sidebar {
    padding: 20px;
    flex: 0 0 auto;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.error-message {
    margin-top: 20px;
    color: red;
}

.message {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.message.error {
    background-color: #f44336;
    color: white;
}

.message.success {
    background-color: #4caf50;
    color: white;
}

.dropdown-container {
    margin-bottom: 20px;
    position: relative; /* Ensure relative positioning for dropdown menu */
}

.more-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1px;
}

.more-button:hover {
    background-color: #007c6c;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px); /* Position right below the More button */
    left: 0;
    z-index: 100;
    display: block;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 150px; /* Example: Set max height for scrollability */
    overflow-y: auto; /* Enable vertical scroll */
}

/* Remove bullets from unordered list */
.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}
