{{template "ente_base" .}}

{{define "content"}}
<p>Hi,</p>

<p>We're reaching out because your Ente account hasn't been used across any of our apps for 12 months or more.</p>
<p>If there's no activity before {{.DeletionDate}} (tomorrow), we'll delete your account and associated data as part of our inactive-account policy.</p>
<p>To keep your account, simply <a href="https://web.ente.io">sign in</a> or use any Ente app before {{.DeletionDate}}.</p>
<p>If you think this is a mistake or you need help accessing your account, you can reply to this email or send an email to <a href="mailto:support@ente.io">support@ente.io</a>.</p>
{{end}}
