<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>com.transistorsoft.fetch</string>
		</array>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Ente Photos</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>MinimumOSVersion</key>
		<string>12.1</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>googlegmail</string>
			<string>x-dispatch</string>
			<string>readdle-spark</string>
			<string>airmail</string>
			<string>ms-outlook</string>
			<string>ymail</string>
			<string>fastmail</string>
			<string>superhuman</string>
			<string>protonmail</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>io.ente.frame</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>ente</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
		<true/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
		</dict>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		 <key>FLTEnableImpeller</key>
         <true />
         <key>FLTEnableWideGamut</key>
         <true/>
		<key>NSFaceIDUsageDescription</key>
		<string>Please allow ente to lock itself with FaceID or TouchID</string>
		<key>NSCameraUsageDescription</key>
		<string>Please allow access to your camera so that you can take photos within ente</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Please allow access to your photos so that ente can encrypt and back them up.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSBonjourServices</key>
                <array>
                  <string>_googlecast._tcp</string>
                  <string>_F5BCEC64._googlecast._tcp</string>
                </array>

                <key>NSLocalNetworkUsageDescription</key>
                <string>${PRODUCT_NAME} uses the local network to discover Cast-enabled devices on your WiFi
                network.</string>
	</dict>
</plist>
