<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.ente.photos.android_push_keep_alive">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

  <application>
    <service
      android:name="io.ente.photos.android_push_keep_alive.AndroidPushKeepAliveService"
      android:exported="false"
      android:foregroundServiceType="dataSync" />
  </application>
</manifest>
