:root {
    color-scheme: light dark;
    color: light-dark(#213547, rgb(255 255 255 / 87%));
    background-color: light-dark(#ffffff, #242424);
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100svh;
}
