name: "Kotlin build (screensaver)"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "mobile/native/android/apps/screensaver/**"
      - "rust/uniffi/core/**"
      - "rust/core/**"
      - ".github/workflows/screensaver-kotlin-build.yml"
  push:
    branches:
      - main
    paths:
      - "mobile/native/android/apps/screensaver/**"
      - "rust/uniffi/core/**"
      - "rust/core/**"
      - ".github/workflows/screensaver-kotlin-build.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: mobile/native/android/apps/screensaver

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build app
        run: ./gradlew lint assembleRelease -x buildEnteCore
