# Node
node_modules/

# macOS
.DS_Store

# Editors
.vscode/

# Local env files
.env
.env.*.local

# tsc transpiles src/**/*.ts and emits the generated JS into app
app/

# out is a symlink to the photos web app's out dir, which contains the built up
# photos app.
out

# electron-builder
dist/
