# Node
node_modules/

# macOS
.DS_Store

# Editors
.vscode/

# Local env files
.env
.env.*.local

# Generated code during build
# - tsc transpiles src/**/*.ts and emits the generated JS into build/app
# - The out dir from the photos web app is symlinked to build/out
build/

# electron-builder
dist/
